<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
     {% if title %}{{ title }} - Microblog{% else %}
     Welcome to my Microblog
     {% endif %}
    </title>

</head>
<body>
  <div>
    <a href='/index'>Home</a>
    <a href='/login'>Sing In</a>
  </div>
  <hr>
  {% with messages = get_flashed_messages() %}
   {% if messages %}
   <ul>
    {% for message in messages %}
     <li>{{ message }}</li>
    {% endfor %}
   </ul>
   {% endif%}
  {% endwith %}
  <hr>
  {% block content %}{% endblock %}
</body>
</html>
