{% extends "base.html" %}

{% block content %}
   <h1> Привет, {{ user.nickname }}</h1>
   <hr>

   {% for post in posts %}
     <h3>{{ post.title }} by {{ post.author.nickname }}</h3>
     <p>{{ post.body }}</p>
     <p>{{ post.timestamp }}</p>
   {% endfor %}
   
{% endblock%}
